.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.message-sent {
    background-color: #e1ffc7; /* Light green */
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
}

.message-received {
    background-color: #ffd5c2; /* Light orange */
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
}
